view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
  box-sizing: border-box;
}

/* 图片载入替代方案 */
.image-wrapper {
  font-size: 0;
  background: #f3f3f3;
  border-radius: 4px;

  image {
    width: 100%;
    height: 100%;
    transition: .6s;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }
  }
}

.clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.common-hover {
  background: #f5f5f5;
}

/*边框*/
.b-b:after,
.b-t:after {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 0;
  content: '';
  transform: scaleY(.5);
  border-bottom: 1px solid $border-color-base;
}

.b-b:after {
  bottom: 0;
}

.b-t:after {
  top: 0;
}

/* button样式改写 */
uni-button,
button {
  height: 80upx;
  line-height: 80upx;
  font-size: $font-lg + 2upx;
  font-weight: normal;

  &.no-border:before,
  &.no-border:after {
    border: 0;
  }
}

uni-button[type=default],
button[type=default] {
  color: $font-color-dark;
}

/* input 样式 */
.input-placeholder {
  color: #999999;
}

.placeholder {
  color: #999999;
}

.tm {
  min-width: 23px;
  height: 13px;
  border-radius: 2px;
  background-image: url(https://cmsstatic.ffquan.cn/wap_new/common/images/tm.png);
  display: inline-block;
  margin-right: 3px;
  background-size: 23px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.tb {
  min-width: 29px;
  height: 13px;
  background-color: linear-gradient(142deg,#ff8c02 0,#ff5000 100%);
  border-radius: 2px;
  background-image: url(https://cmsstatic.ffquan.cn/wap_new/common/images/tb.png);
  display: inline-block;
  background-size: 29px 13px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2px;
}
